@import "../abstracts/variables";
@import "../base/typography";

#home {
  @include flex-column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;

  .home-subheading {
    z-index: 1;
    font-size: $large-font-size;
    margin: 1em 0;
    color: $clr-accent-primary;
    font-weight: $bold-font-weight;
  }

  .find-out-more {
    font-size: $base-font-size;
    font-weight: $bold-font-weight;
    padding: 0.5em 1.5em;
    border-radius: 20px;
    background: none;
    color: $clr-text-secondary;
    outline: 2px solid $clr-text-secondary;
    margin: 4em 0;

    &:hover {
      color: $clr-bg;
      background-color: $clr-text-primary;
    }

    &:focus {
      outline: 6px double $clr-accent-primary;
    }
  }

  #navbar--component,
  #footer--component {
    display: none;
  }
}

.ascii {
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: 0;
  white-space: pre;
  font-size: 20px;
  letter-spacing: -0.1ch;
  cursor: default;
  overflow: hidden;
  color: $clr-text-comment;

  code {
    padding: 5px;
  }
}

.glitch-wrapper {
  display: flex;
  background: none;

  .glitch {
    position: relative;
    font-family: $heading-font;
    font-size: 100px;
    font-weight: $bold-font-weight;
    line-height: 1.2;
    color: $clr-text-primary;
    letter-spacing: 8px;
    z-index: 1;

    &:before,
    &:after {
      content: attr(data-glitch);
      position: absolute;
      top: 0;
      width: 100%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0);
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      transition-delay: 0.3s;
    }

    &:before {
      left: -2px;
      animation: noise-before 3s infinite linear alternate-reverse;
    }

    &:after {
      left: 2px;
      animation: noise-after 2s infinite linear alternate-reverse;
    }
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1500px) {
  #home .ascii {
    font-size: 14px;
  }
}

@media screen and (max-width: 1300px) {
  #home .ascii {
    font-size: 10px;
  }
}

@media screen and (max-width: 700px) {
  #home {
    align-items: center;
    text-align: center;
    .find-out-more {
      margin-top: 10px;
    }
    .ascii {
      font-size: 5px;
      right: 50px;
      display: none;
    }
  }
  .glitch-wrapper {
    display: flex;
    justify-content: center;

    .glitch {
      font-size: 2.5rem;
      align-self: center;
      justify-self: center;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}
/* KEYFRAMES */

@keyframes noise-before {
  0% {
    clip: rect(61px, 9999px, 52px, 0);
  }

  5% {
    clip: rect(33px, 9999px, 144px, 0);
  }

  10% {
    clip: rect(121px, 9999px, 115px, 0);
  }

  15% {
    clip: rect(144px, 9999px, 162px, 0);
  }

  20% {
    clip: rect(62px, 9999px, 180px, 0);
  }

  25% {
    clip: rect(34px, 9999px, 42px, 0);
  }

  30% {
    clip: rect(147px, 9999px, 179px, 0);
  }

  35% {
    clip: rect(99px, 9999px, 63px, 0);
  }

  40% {
    clip: rect(188px, 9999px, 122px, 0);
  }

  45% {
    clip: rect(154px, 9999px, 14px, 0);
  }

  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }

  55% {
    clip: rect(161px, 9999px, 147px, 0);
  }

  60% {
    clip: rect(109px, 9999px, 175px, 0);
  }

  65% {
    clip: rect(157px, 9999px, 88px, 0);
  }

  70% {
    clip: rect(173px, 9999px, 131px, 0);
  }

  75% {
    clip: rect(62px, 9999px, 70px, 0);
  }

  80% {
    clip: rect(24px, 9999px, 153px, 0);
  }

  85% {
    clip: rect(138px, 9999px, 40px, 0);
  }

  90% {
    clip: rect(79px, 9999px, 136px, 0);
  }

  95% {
    clip: rect(25px, 9999px, 34px, 0);
  }

  100% {
    clip: rect(173px, 9999px, 166px, 0);
  }
}

@keyframes noise-after {
  0% {
    clip: rect(26px, 9999px, 33px, 0);
  }

  5% {
    clip: rect(140px, 9999px, 198px, 0);
  }

  10% {
    clip: rect(184px, 9999px, 89px, 0);
  }

  15% {
    clip: rect(121px, 9999px, 6px, 0);
  }

  20% {
    clip: rect(181px, 9999px, 99px, 0);
  }

  25% {
    clip: rect(154px, 9999px, 133px, 0);
  }

  30% {
    clip: rect(134px, 9999px, 169px, 0);
  }

  35% {
    clip: rect(26px, 9999px, 187px, 0);
  }

  40% {
    clip: rect(147px, 9999px, 137px, 0);
  }

  45% {
    clip: rect(31px, 9999px, 52px, 0);
  }

  50% {
    clip: rect(191px, 9999px, 109px, 0);
  }

  55% {
    clip: rect(74px, 9999px, 54px, 0);
  }

  60% {
    clip: rect(145px, 9999px, 75px, 0);
  }

  65% {
    clip: rect(153px, 9999px, 198px, 0);
  }

  70% {
    clip: rect(99px, 9999px, 136px, 0);
  }

  75% {
    clip: rect(118px, 9999px, 192px, 0);
  }

  80% {
    clip: rect(1px, 9999px, 83px, 0);
  }

  85% {
    clip: rect(145px, 9999px, 98px, 0);
  }

  90% {
    clip: rect(121px, 9999px, 154px, 0);
  }

  95% {
    clip: rect(156px, 9999px, 44px, 0);
  }

  100% {
    clip: rect(67px, 9999px, 122px, 0);
  }
}
