/* Structural elements */
a,
b,
blockquote,
body,
canvas,
caption,
code,
div,
em,
embed,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
label,
li,
main,
nav,
object,
ol,
p,
pre,
section,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
video {
  margin: 0;
  padding: 0;
  border: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

/* List styles */
ol,
ul {
  list-style: none;
}

/* Blockquotes and quotes */
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Form elements */
input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* Links */
a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
}
