$heading-font: "Rubik Mono One", "monospace";
$body-font: "Red Hat Mono", "monospace";

$small-font-size: 0.9rem;
$base-font-size: 1rem;
$large-font-size: 1.2rem;
$xl-font-size: 2rem;
$xxl-font-size: 3rem;

$light-font-weight: 300;
$base-font-weight: 400;
$bold-font-weight: 600;
$xbold-font-weight: 800;
